.custom-ig-button {
  position: absolute;
  right: 0rem;
  margin-top: 0.2rem;
  padding: 0.4rem 1.3rem 0.4rem 1.3rem;

  cursor: pointer;
  background: linear-gradient(205deg, #4D6DF4 0%, #AB33FA 49%, #FFA800 100%);
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  font-weight: 400;

  border: none;
  border-radius: 10px;
}