@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&display=swap');

.profile-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 18rem;
  margin: 0;
  padding: 0;
  border: 1px solid lightgray;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title-dark,
.title-light {
  font-family: "Red Hat Text", serif;
  font-weight: 700;
  font-size: 1.45rem;
  font-style: normal;
}

.title-dark {
  color: #000F4E;
}

.title-light {
  color: #7993FF;
}

.time-title {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #262626;
  padding: 0;
  text-align: left;
  margin: 0.5rem;
}

.transaction-section {
  display: flex;
  flex-direction: column;
  width:90%;
  border-bottom: 1px solid rgba(169, 169, 169, 0.2);
  padding: 0 1.5rem 0.5rem 0.5rem;
}

.percent {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  color: #000F4E;
}

.profile-card {
  display: flex;
  flex-direction: column;
  font-family: "Red Hat Text", sans-serif;
}

.profile-link {
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  background-color: #000F4E;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Red Hat Text", sans-serif;
  max-width: fit-content;
  margin: 1rem 0rem;
}

.transaction {
  font-family: 'Red Hat Text', sans-serif;
  color: black;
  font-size: 0.9rem;
  padding-left: 1rem;
}

.username {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: #000F4E;
}